%nav.bg-primary.navbar.navbar-expand-lg{"data-bs-theme" => "dark"}
  .container-fluid.mx-4.d-flex.justify-content-center
    %ul.navbar-nav.mb-2.mb-lg-0.fs-3.fw-bold
      %li.nav-item.mx-4
        %a.nav-link.active{href: "#"} The Arena
      %li.nav-item.mx-4
        %a.nav-link{href: "#"} The ludus 
