%h1.text-center.fst-italic To be a gladiator is to be one with death
= image_tag "arena-1.png", class: 'img-fluid mt-5 rounded-4', alt: 'The arena, gladiators fighting'
%h2.text-center.fst-italic.mt-5 For them, there can be one path to take, a path of blood and violence, these men start life as a slave without nothing and grow into legends
.mt-5.row
  .col-12.col-md-6.mb-2.d-flex.justify-content-center
    = image_tag "arena-3.jpeg", class: 'img-fluid rounded-4', alt: 'The arena, gladiators fighting'
  .col-12.col-md-6.mb-2.align-self-center.text-center
    .fst-italic.fw-bold.fs-4 Through their skills and strength, they reap fame and stacks of coin, coins will bring better weapons and armors, fame will bring opportunities for new conquests and opposition
  .col-12.col-md-6.mb-2.align-self-center.text-center
    .fst-italic.fw-bold.fs-4 Bask in the glory, the will of the mob will be a powerful ally, don’t mourn the dead, for their purpose has been fulfilled
  .col-12.col-md-6.mb-2.d-flex.justify-content-center
    = image_tag "arena-4.jpeg", class: 'img-fluid rounded-4', alt: 'The arena, gladiators fighting'

.mt-5.fst-italic.fw-bold.fs-4.text-center  For their passing will allow a new fighter to rise and join you in your unfaltering rise to glory, from slave, to gladiator, a legend
= image_tag "arena-5.webp", class: 'img-fluid rounded-4 my-5', alt: 'The arena, gladiator on the ground'
