.text-center.fst-italic
  %h1 Enter gladiator information and save to start the fight

.d-flex.justify-content-center
  = link_to 'Back to gladiators list', gladiators_path, class: 'btn btn-secondary'

.my-4
  = render 'form'
